{{- define "main" }}

<article class="post-single h-entry">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title p-name">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description p-summary">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="display: none;">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>
      {{- if .Lastmod }}
      <time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" style="display: none;">{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}</time>
      {{- end }}
      <a class="u-author h-card" href="{{ site.BaseURL }}" style="display: none;">
        <span class="p-name">{{ site.Params.author.name }}</span>
      </a>
      <a class="u-url" href="{{ .Permalink }}" style="display: none;">{{ .Permalink }}</a>
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (or (.Param "ShowToc") (.Param "toc.show")) }}
  {{- partial "toc.html" . }}
  {{- end }}
  <div class="post-content e-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
    <!-- {{ partial "subscribe.html" . }} -->
  </div>
  <footer class="post-footer">
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "newsletter_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
  {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
