#webmentions-container {
    width: 100%;
    margin: 40px auto;
    padding: 14px;
    border: 1px solid var(--code-bg);
    background-color: var(--hljs-bg);
}

.webmentions-title {
    font-size: 14px;
    color: var(--secondary);
    margin-bottom: 10px;
}

#webmentions-container ul {
    list-style: none;
    padding-left: 0;
}

#webmentions-container li:not(:last-child) {
    margin-bottom: 1.2em;
}

#webmentions-container blockquote p {
    margin-bottom: 1.2em;
}

#webmentions-container blockquote p:last-of-type:not(:has(+ footer)) {
    margin-bottom: 0;
}
