#webmentions-container {
    width: 100%;
    margin: 20px auto;
    padding: 14px;
    border: 1px solid var(--code-bg);
    background-color: var(--hljs-bg);
}

.webmentions-title {
    color: var(--secondary);
    font-size: 14px;
    margin-bottom: 10px;
}

.webmentions-title span {
    margin-right: 3px;
    vertical-align: middle;
}

#webmentions-container ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#webmentions-container li:not(:last-child) {
    margin-bottom: 1.2em;
}

#webmentions-container blockquote {
    margin: 0;
    width: 100%;
}

#webmentions-container blockquote p {
    margin-bottom: 1.2em;
}

#webmentions-container blockquote p:last-of-type:not(:has(+ footer)) {
    margin-bottom: 0;
}
