:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 0;
    --theme: rgb(255, 255, 255);
    --entry: rgb(248, 244, 239);
    --primary: rgba(30, 30, 30, 0.87);
    --secondary: rgb(117, 117, 117);
    --tertiary: rgb(248, 244, 239);
    --content: rgba(31, 31, 31, 0.87);
    --hljs-bg: rgba(22, 22, 22, 0.91);
    --code-bg: rgb(248, 244, 239);
    --border: rgb(247, 247, 247);
    --background-color: rgb(180, 180, 180);
    --background-image: url(/images/black-felt.png);
    --entry-image: url(/images/white-wall.png);
    --content-background: none;
}

.dark {
    --theme: rgb(17,17,17);
    --entry: rgb(33, 33, 33);
    --primary: rgb(241, 241, 241);
    --secondary: rgb(180, 180, 180);
    --tertiary: rgb(33, 33, 33);
    /* --content: rgb(236, 236, 236); */
    --content: rgb(216, 216, 216);
    --hljs-bg: rgb(22, 22, 22);
    --code-bg: rgb(33, 33, 33);
    --border: rgb(25, 25, 25);
    --background-color: rgb(75, 75, 75);
    --background-image: url(/images/binding-dark.png);
    --entry-image: url(/images/white-wall.png);
    --content-background: url(/images/black-felt.png)
}

/* .dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
} */

.list {
    background: var(--background-image), var(--theme);
}

.dark.list {
    background: var(--background-image), var(--theme);
}

/*change color of text highlight*/
::-moz-selection {
    color: var(--theme);
    background: var(--content);
  }

.dark ::-moz-selection {
    background: rgba(236, 236, 236, 0.7);
}

::selection {
    color: var(--theme);
    background: var(--content);
}
.dark ::selection {
    background: rgba(236, 236, 236, 0.7);
}