:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(245, 245, 245);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(255, 255, 255);
    --border: rgb(250, 250, 250);
}

.dark {
    --theme: rgb(17,17,17);
    --entry: rgb(33, 33, 33);
    --primary: rgb(241, 241, 241);
    --secondary: rgb(180, 180, 180);
    --tertiary: rgb(33, 33, 33);
    --content: rgb(236, 236, 236);
    --hljs-bg: rgb(22, 22, 22);
    --code-bg: rgb(33, 33, 33);
    --border: rgb(25, 25, 25);
}

/* .dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
} */

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
