{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Params.experimental }}<div class="entry-isexperimental"><sup>&nbsp;&nbsp;[experimental]</sup></div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "translation_list.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
    {{ if in .Params.categories "Playground" }}
    {{ $currentPage :=.Page.Permalink }}
    <p><i>You might also like:</i></p>
    {{ $playgrounds := where .Site.RegularPages "Params.categories" "intersect" (slice "Playground") }}
    <ul class="playgrounds">
    {{ range sort $playgrounds "Date" }}
          {{ if ne $currentPage .Permalink }}
          <li>
            <strong><a href="{{.Permalink}}">{{.LinkTitle}}</a></strong>: {{.Description}}
          </li>
          {{ end }}
    {{end}}
    </ul>
    {{end}}
    {{ if (.Params.CodapiURL) }}
    <codapi-settings url="https://{{ (.Params.CodapiURL) }}"></codapi-settings>
    {{ end }}
    <!-- {{ partial "subscribe.html" . }} -->
  </div>
  <footer class="post-footer">
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
  {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
