{{- define "main" }}

<article class="post-single h-entry">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title p-name">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      <!-- my changes here, no idea why, test and figure it out -->
      <!-- {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }} -->
    </h1>
    {{- if .Description }}
    <div class="post-description p-summary">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{/* h-entry metadata */}}
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="display: none;">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>
      {{- if .Lastmod }}
      <time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" style="display: none;">{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}</time>
      {{- end }}
      <a class="u-author h-card" href="{{ site.BaseURL }}" style="display: none;">
        <span class="p-name">{{ site.Params.author.name }}</span>
      </a>
      <a class="u-url" href="{{ .Permalink }}" style="display: none;">{{ .Permalink }}</a>
      {{/* /h-entry metadata */}}
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
  {{- end }}
  {{- if (or (.Param "ShowToc") (.Param "toc.show")) }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  {{- partial "qr_code_icon.html" . -}}
  <div class="post-content e-content">
    {{ if .Param "series" }}
    {{ $currentPage := .Page.Permalink }}
    {{ $seriesTerms := .GetTerms "series" }}
    {{ if $seriesTerms }}
      {{ range $seriesTerms }}
        <p><i>This article is a part of the series "<a href='{{ .Permalink }}'>{{ .LinkTitle }}</a>."</i></p>
        <p>Other articles in the series:</p>
        <ul class="series">
        {{ range sort .Pages "Date" }}
          <li>
            {{ if ne $currentPage .Permalink }}
            <a href="{{.Permalink}}">{{.LinkTitle}}</a>
            {{ else }}<b>{{.LinkTitle}}</b>{{ end }}
          </li>
        {{end}}
        </ul>
      {{ end }}
    {{ end }}
    {{end}}
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
    <!-- Add related content -->
    {{- if (.Param "ShowRelatedContent") }}
      {{- partial "related.html" . }}
    {{- end }}
    <!-- Add mermaid min js file -->
    {{ if (.Params.mermaid) }}
    {{ partial "mermaid.html" }}
    {{ end }}
    {{ if (.Params.CodapiURL) }}
    <codapi-settings url="https://{{ (.Params.CodapiURL) }}"></codapi-settings>
    {{ end }}
    {{- if (.Param "ShowWebmentions") }}
    {{- partial "webmentions.html" . }}
    {{- end }}
    {{ partial "subscribe.html" . }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a class="p-category" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
