/* from reset */
::-webkit-scrollbar-track {
    background: var(--hljs-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border: 5px solid var(--hljs-bg);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: var(--hljs-bg);
}

/* from post-single */
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: var(--secondary);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.gist table::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: var(--secondary);
}

.gist table::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.post-content table::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: var(--secondary);
}

.post-content table::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* from zmedia */
@media screen and (min-width: 768px) {

    /* reset */
    ::-webkit-scrollbar {
        width: 19px;
        height: 11px;
    }
}