{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>
      {{ .Title | markdownify }}
      {{- if (site.Params.ShowRssButtonInHome) }}
      <a href="index.xml" target="_blank" title="RSS" aria-label="RSS">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          height="23"
        >
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
        </svg>
      </a>
      {{- end }}
    </h1>
  </header>
  {{ partial "social_icons.html" site.Params.socialIcons }}
  <div class="entry-content">
    <p class="intro">{{ .Content.Intro | markdownify }}</p>
    <p class="intro">{{ .Content.About | markdownify }}</p>
    <p>{{ .Content.Action | markdownify }}</p>
  </div>
  {{ partial "subscription-form.html" . }}
</article>
{{- end -}}
