{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p class="intro">{{ .Content.Intro | markdownify }}</p>
        <p class="intro">{{ .Content.About | markdownify }}</p>
        <p>{{ .Content.Action | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
    {{ partial "subscription-form.html" . }}
</article>
{{- end -}}
