<script
  type="application/javascript"
  src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script>
  var isDark = document.body.classList.contains('dark');
  var theme = isDark ? 'dark' : 'default';
  var config = {
    startOnLoad: true,
    theme: theme,
    align:'{{ if site.Params.mermaid.align }}{{ site.Params.mermaid.align }}{{ else }}center{{ end }}',
    securityLevel:'{{ if site.Params.mermaid.securityLevel }}{{ site.Params.mermaid.securityLevel }}{{ else }}loose{{ end }}',
  };
  mermaid.initialize(config);
</script>
