{{- $scratch := newScratch }}

{{- $date := .Date.Format "02.01.2006" -}}
{{- $lastmod := .Lastmod.Format "02.01.2006" -}}

{{- if (.Param "ShowLastMod") -}}
{{- if ne $lastmod $date -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>Last Updated On %s</span>" (.Lastmod) (.Lastmod.Format (default "January 2, 2006" .Site.Params.DateFormat)))) }}
{{- end }}
{{- end }}

<!-- Only show authors if they are explicitly mentioned in the post metadata -->
{{- if or .Params.author }}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
