<section class="subscription-form">
  <form
    action="https://navendu.us5.list-manage.com/subscribe/post-json?u=fb9ffeb3ee6bc8aaf1d5b8a98&amp;id=5ff8367bc1&c=?"
    method="post"
    autocomplete="off"
    class="subscribe-form"
  >
    <div class="subscribe-input">
      <input
        type="email"
        name="EMAIL"
        id="email"
        required
        placeholder="Email Address ↵"
        title="Email Address"
      />
    </div>
    <input
      value="Subscribe"
      type="submit"
      class="subscribe-button"
      title="Subscribe"
    />
  </form>
  <section class="entry-content">
    <div class="subscribe-message">
      Join my biweekly newsletter for exclusive content, insights, and updates.
    </div>
  </section>
</section>

<!-- Handle form submission with JQuery and Ajax -->
<script>
  $(".subscribe-form").submit(function (e) {
    e.preventDefault();

    var form = $(this);
    var url = form.attr("action");
    var method = form.attr("method");

    $.ajax({
      type: method,
      url: url,
      data: form.serialize(),
      dataType: `jsonp`,
      success: function (data) {
        if (data.result === `success`) {
          form.find(".subscribe-button").attr("value", "Subscribed!");
          $(".subscribe-message").html(
            "Thank you for subscribing! Check your inbox and add me in your contacts to not miss an issue! <a target='_blank' href='https://twitter.com/intent/tweet?url=https%3A%2F%2Fnavendu.me&text=I%20just%20subscribed%20to%20@sudo_navendu%27s%20blog%21%20Check%20it%20out%21&hashtags=OpenSource%2CDevelopers%2CDEVCommunity'>Tweet about it</a>!"
          );
          $(".subscribe-form :input").prop("disabled", true);
        } else {
          form
            .find(".subscribe-button")
            .attr("value", "Failed to Subscribe! Click again to retry");
          $(".subscribe-message").html(
            "There was an error subscribing you to my blog. " + data.msg + "."
          );
          form[0].reset();
        }
        console.log(data);
      },
      error: function (data) {
        console.log("An error occurred.");
        console.log(data);
        form[0].reset();
      },
    });
  });
</script>
