<section class="subscription-form">
  <form
    action="https://navendu.us5.list-manage.com/subscribe/post-json?u=fb9ffeb3ee6bc8aaf1d5b8a98&amp;id=5ff8367bc1&c=?"
    method="post"
    autocomplete="off"
    class="subscribe-form"
  >
    <div class="subscribe-input">
      <input
        type="email"
        name="EMAIL"
        id="email"
        required
        placeholder="Email Address"
        title="Email Address"
      />
    </div>
    <input
      value="Subscribe"
      type="submit"
      class="subscribe-button"
      title="Subscribe"
    />
  </form>
  <div class="subscribe-message">
    Get an occasional dose of tech news, curated content, and uninterrupted musings, delivered directly to your inbox.
  </div>
</section>

<!-- Handle form submission with vanilla JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('.subscribe-form');
    const subscribeButton = form.querySelector('.subscribe-button');
    const subscribeMessage = document.querySelector('.subscribe-message');

    form.addEventListener('submit', function(e) {
        e.preventDefault();

        const url = form.getAttribute('action');
        const formData = new FormData(form);
        const params = new URLSearchParams(formData).toString();

        window.mailchimpCallback = function(data) {
            if (data.result === 'success') {
                subscribeButton.value = 'Subscribed!';
                subscribeMessage.innerHTML =
                    "Thank you for subscribing! Please check your inbox for a confirmation email and add me in your contacts to not miss an issue! <a target='_blank' href='https://twitter.com/intent/tweet?url=https%3A%2F%2Fnavendu.me&text=I%20just%20subscribed%20to%20@realPottekkat%27s%20blog%21%20Check%20it%20out%21&hashtags=OpenSource%2CDevelopers%2CDEVCommunity'>Tweet about it</a>!";
                Array.from(form.elements).forEach(function(el) {
                    el.disabled = true;
                });
            } else {
                subscribeButton.value = 'Retry?';
                subscribeMessage.innerHTML =
                    "There was an error subscribing you to my blog. " + data.msg + ".";
                form.reset();
            }
            console.log(data);

            delete window.mailchimpCallback;
            var scriptToRemove = document.querySelector('script[src*="list-manage.com"]');
            if (scriptToRemove) {
                scriptToRemove.remove();
            }
        };

        const script = document.createElement('script');
        script.src = url.replace(/c=\?/, 'c=mailchimpCallback') + '&' + params;
        document.body.appendChild(script);

        script.onerror = function() {
            console.log('An error occurred.');
            subscribeMessage.innerHTML = 'An error occurred. Please try again.';
            form.reset();
            delete window.mailchimpCallback;
        };
    });
});
</script>
