.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap));
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background: var(--entry-image), var(--entry);
}

@media (min-width: 768px) {
    .header {
        clip-path: polygon(0 10%, 55% 15%, 100% 20%, 100% 84%, 50% 90%, 0 86%);
    }
}

.nav a {
    display: block;
}

.nav a:hover {
    color: var(--secondary);
}

.logo,
.menulinks {
    display: flex;
    margin: auto calc(var(--gap) * 2);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 0;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 14px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

.menu-toggle {
    position: absolute;
    display: none;
    cursor: pointer;
    right: calc(var(--gap) * 2);
}

.menu-toggle:hover {
    color: var(--secondary);
}

/* Hide the navbar links on small screens */
@media (max-width: 625px) {
    .menulinks {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Show the navbar links when the toggle button is active */
#menu.active {
    display: flex;
}