.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap));
    margin: auto;
    padding: var(--gap);
    background: var(--content-background), var(--theme);
}

@media (min-width: 768px) {
    .main {
        clip-path: polygon(0 7px, 34% 10px, 100% 5px, 100% calc(100% - 10px), 0 calc(100% - 5px));
        padding-left: calc(var(--gap) * 2);
        padding-right: calc(var(--gap) * 2);
    }
}


.page-header h1 {
    font-size: 30px;
}

.page-header a:hover {
    color: var(--secondary);
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: 0;
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding-top: 10px;
    align-self: self-start;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.social-icons span {
    margin-right: 5px;
    font-size: 14px;
    color: var(--secondary);
}

code {
    direction: ltr;
    /* fix font issue iOS */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

.section-links-archive {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 2.5px;
    margin-bottom: 16px;
    font-size: 14px;
}

.section-links-archive li {
    display: inline;
}

.section-links-archive li:not(:last-of-type) {
    margin-right: 12px;
}

.section-links-archive a:hover {
    color: var(--secondary);
}

.section-links-archive svg {
    height: 12px;
    width: auto;
    margin-right: 4px;
}