.subscribe-input input {
    margin-top: 10px;
    padding: 4px 10px;
    color: var(--primary);
    /* font-weight: bold; */
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
    font-size: 14px;
    width: 100%;
}

.subscribe-input input:focus {
    border-color: var(--secondary);
}

.subscribe-button {
    margin-top: 10px;
    padding: 4px 10px;
    border-radius: var(--radius);
    background: var(--primary);
    color: var(--code-bg);
    font-size: 14px;
}

.subscribe-button:hover {
    background: var(--secondary);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    border: 1px solid var(--code-bg);
    background-color: var(--theme);
}

.dark .subscription-form {
    background-color: var(--hljs-bg);
}

.subscribe-message {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: var(--secondary);
}

@media (min-width: 768px) {
    .subscribe-form {
        flex-direction: row;
        width: auto;
    }
    .subscribe-input input {
        margin-bottom: 10px;
        margin-right: 10px;
        width: auto;
    }

    .subscribe-button {
        margin-bottom: 10px;
    }

    .subscription-form {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .subscribe-message {
        text-align: left;
    }
}
